<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>My Story</h1>
    <h2>Calvert Hall</h2>
    <p>I went to <strong>Calvert Hall</strong> for high school. I was in the clubs listed below</p>

    <ul>
        <li>Its Academic</li>
        <li>Model UN</li>
        <li>Chess Club</li>
    </ul>

    <p>My favorite courses in high school were:</p>

    <ol>
        <li>AP Econ</li>
        <li>AP US History</li>
        <li>AP English Lit</li>
    </ol>

    <h2>University of Maryland</h2>

    <p>Here is the Smith logo, the school I am enrolled in:</p>
    <!-- sources image from terpconnect -->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith Logo">

    <p>Some standout courses I took:</p>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>CMSC132</td>
            <td>Fall 2024</td>
        </tr>
        <tr>
            <td>BSCI145</td>
            <td>Spring 2024</td>
        </tr>
        <tr>
            <td>BMGT321</td>
            <td>Spring 2025</td>
        </tr>
    </table>

    <p>I was also the treasurer for the club <em>1000 Schools</em>,
        where we helped fundraise to build schools in Honduras</p>

    <!-- each link will automatically take user to page once clicked -->
    <p>Here is a link to <a href="https://www.chess.com/play/online" target="_blank">Chess.com</a>.</p>
    <p>Here is a link to a <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDdQw4w9WgXcQ&start_radio=1"
                               target="_blank"> YouTube video</a>.</p>
    <!-- relative hyperlink -->
    <p>Here is a link to my <a href="/hello" target="_blank">hello</a> directory.</p>

</body>
</html>